name: Deploy CDC Webserver (On PR Merge)

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  first-job:
    if: github.ref == 'refs/heads/main'
    name: (PROD) Build CDC Webserver Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          node --version
          node test.js

  second-job:
    needs: first-job
    if: github.ref == 'refs/heads/main'
    name: (PROD) Deploy CDC Webserver Image
    runs-on: ubuntu-latest
    steps:
      - name: Run echo
        run: |
          echo "Deploying CDC Webserver..."

  third-job:
    if: github.ref == 'refs/heads/develop'
    name: (PROD) Build CDC Webserver Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          node --version
          node test.js

  fourth-job:
    needs: third-job
    if: github.ref == 'refs/heads/develop'
    name: (PROD) Deploy CDC Webserver Image
    runs-on: ubuntu-latest
    steps:
      - name: Run echo
        run: |
          echo "Deploying CDC Webserver (2)..."
