name: Infrastructure Deployment to AWS

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      script:
        description: 'Script to run'
        required: true
        type: choice
        options:
          - script1.sh
          - script2.sh
        default: script1.sh

run-name: ${{ github.event_name == 'workflow_dispatch' && format('Manual Deployment of {0}', github.event.inputs.script) || '' }}

jobs:
  setup:
    name: Setup Modules and Environment
    runs-on: ubuntu-latest

    outputs:
      scripts: ${{ steps.workflow_call.outputs.scripts || steps.workflow_dispatch.outputs.scripts }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Detect Changes
        if: github.event_name == 'workflow_call'
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            script1:
              - 'scripts/script1.sh'
            script2:
              - 'scripts/script2.sh'

      - name: Set up on Workflow-Call
        if: github.event_name == 'workflow_call'
        id: workflow_call
        run: |
          echo "scripts=${{ steps.changes.outputs.changes }}" >> $GITHUB_OUTPUT

      - name: Set up on Workflow-Dispatch
        if: github.event_name == 'workflow_dispatch'
        id: workflow_dispatch
        run: |
          echo "scripts=['${{ github.event.inputs.script }}']" >> $GITHUB_OUTPUT

  first-script-run:
    needs: setup
    if: contains(needs.setup.outputs.scripts, 'script1')
    name: Run Script 1
    uses: ./.github/workflows/reusable-terraform-apply.yml
    with:
      path: 'scripts/script1.sh'
    secrets: inherit

  second-script-run:
    needs: setup
    if: contains(needs.setup.outputs.scripts, 'script2')
    name: Run Script 2
    uses: ./.github/workflows/reusable-terraform-apply.yml
    with:
      path: 'scripts/script2.sh'
    secrets: inherit
