name: Orchestrator

on:
  push:
    branches:
      - main
      - develop

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      infrastructure: ${{ steps.filter.outputs.infrastructure }}
    steps:
      - uses: actions/checkout@v6

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            infrastructure:
              - 'scripts/**/*.sh'

  infrastructure:
    needs: detect-changes
    if: needs.detect-changes.outputs.infrastructure == 'true'
    uses: ./.github/workflows/infrastructure-deploy.yml

  first-job:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && github.ref == 'refs/heads/main' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          node --version
          node test.js

  second-job:
    needs: first-job
    if: always() && needs.first-job.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Run echo
        run: |
          echo "Deploying CDC Webserver..."

  third-job:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && github.ref == 'refs/heads/develop' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          node --version
          node test.js

  fourth-job:
    needs: third-job
    if: always() && needs.third-job.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Run echo
        run: |
          echo "Deploying CDC Webserver (2)..."
