name: Deploy (On PR Merge)

on:
  push:
    branches:
      - main
      - develop

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      infrastructure: ${{ steps.filter.outputs.infrastructure }}
      build_server: ${{ steps.filter.outputs.build_server }}
      cdc_cam_worker: ${{ steps.filter.outputs.cdc_cam_worker }}
      cdc_clients_worker: ${{ steps.filter.outputs.cdc_clients_worker }}
      cdc_data_worker: ${{ steps.filter.outputs.cdc_data_worker }}
      cdc_services_website: ${{ steps.filter.outputs.cdc_services_website }}
      pipeline: ${{ steps.filter.outputs.pipeline }}
    steps:
      - uses: actions/checkout@v6

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            infrastructure:
              - scripts/**/*.sh
            build_server:
              - build_server/**
              - shared_code/**
            cdc_cam_worker:
              - cdc_cam_worker/**
              - shared_code/**
            cdc_clients_worker:
              - cdc_clients_worker/**
              - shared_code/**
            cdc_data_worker:
              - cdc_data_worker/**
              - shared_code/**
            cdc_services_website:
              - automation/**
              - cdc_services_website/**
              - shared_code/**
            pipeline:
              - pipeline/**
              - shared_code/**

  infrastructure:
    needs: detect-changes
    if: needs.detect-changes.outputs.infrastructure == 'true'
    uses: ./.github/workflows/infrastructure-deploy.yml

  build-cdc-build-server-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.build_server == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-build-server-build-image.yml
    with:
      environment-name: 'prod'

  deploy-cdc-build-server-prod:
    needs: build-cdc-build-server-prod
    if: always() && !cancelled() && needs.build-cdc-build-server-prod.result == 'success'
    uses: ./.github/workflows/reusable-cdc-build-server-deploy-image.yml
    with:
      environment-name: 'prod'

  build-cdc-cam-worker-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.cdc_cam_worker == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-cam-worker-build-image.yml
    with:
      environment-name: 'prod'

  deploy-cdc-cam-worker-prod:
    needs: build-cdc-cam-worker-prod
    if: always() && !cancelled() && needs.build-cdc-cam-worker-prod.result == 'success'
    uses: ./.github/workflows/reusable-cdc-cam-worker-deploy-image.yml
    with:
      environment-name: 'prod'

  build-cdc-clients-worker-int:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/develop' && needs.detect-changes.outputs.cdc_clients_worker == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-clients-worker-build-image.yml
    with:
      environment-name: 'int'

  deploy-cdc-clients-worker-int:
    needs: build-cdc-clients-worker-int
    if: always() && !cancelled() && needs.build-cdc-clients-worker-int.result == 'success'
    uses: ./.github/workflows/reusable-cdc-clients-worker-deploy-image.yml
    with:
      environment-name: 'int'

  build-cdc-clients-worker-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.cdc_clients_worker == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-clients-worker-build-image.yml
    with:
      environment-name: 'prod'

  deploy-cdc-clients-worker-prod:
    needs: build-cdc-clients-worker-prod
    if: always() && !cancelled() && needs.build-cdc-clients-worker-prod.result == 'success'
    uses: ./.github/workflows/reusable-cdc-clients-worker-deploy-image.yml
    with:
      environment-name: 'prod'

  build-cdc-data-worker-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.cdc_data_worker == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-data-worker-build-image.yml
    with:
      environment-name: "prod"

  deploy-cdc-data-worker-prod:
    needs: build-cdc-data-worker-prod
    if: always() && !cancelled() && needs.build-cdc-data-worker-prod.result == 'success'
    uses: ./.github/workflows/reusable-cdc-data-worker-deploy-image.yml
    with:
      environment-name: "prod"

  build-cdc-webserver-int:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/develop' && needs.detect-changes.outputs.cdc_services_website == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-webserver-build-image.yml
    with:
      environment-name: 'int'

  deploy-cdc-webserver-int:
    needs: build-cdc-webserver-int
    if: always() && !cancelled() && needs.build-cdc-webserver-int.result == 'success'
    uses: ./.github/workflows/reusable-cdc-webserver-deploy-image.yml
    with:
      environment-name: 'int'

  build-cdc-webserver-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.cdc_services_website == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-cdc-webserver-build-image.yml
    with:
      environment-name: 'prod'

  deploy-cdc-webserver-prod:
    needs: build-cdc-webserver-prod
    if: always() && !cancelled() && needs.build-cdc-webserver-prod.result == 'success'
    uses: ./.github/workflows/reusable-cdc-webserver-deploy-image.yml
    with:
      environment-name: 'prod'

  build-pipeline-prod:
    needs:
      - detect-changes
      - infrastructure
    if: |
      always() && !cancelled() && github.ref == 'refs/heads/main' && needs.detect-changes.outputs.pipeline == 'true' &&
      (needs.detect-changes.outputs.infrastructure != 'true' || needs.infrastructure.result == 'success')
    uses: ./.github/workflows/reusable-pipeline-build-image.yml
    with:
      environment-name: 'prod'

  deploy-pipeline-prod:
    needs: build-pipeline-prod
    if: always() && !cancelled() && needs.build-pipeline-prod.result == 'success'
    uses: ./.github/workflows/reusable-pipeline-deploy-image.yml
    with:
      environment-name: 'prod'
