name: (Reusable) Build CDC Webserver Image

on:
  workflow_call:
    inputs:
      environment-name:
        description: 'Environment name (e.g., dev, prod)'
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-webserver
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          cd cdc_services_website
          node --version
          node test.js
