name: (Reusable) Build Server (New) Image

on:
  workflow_call:
    inputs:
      environment-name:
        description: 'Environment name (e.g., dev, prod)'
        type: string
        required: true



jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          cd build_server
          node --version
          node test.js
