name: Run test.js on change
on:
  push:
    paths:
      - test.js
jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6

      - name: Run test.js
        run: |
          node --version
          node test.js

